* {
    padding: 0;
    margin: 0;
}
:root {
    --header-height: 3rem;

    /* ===Colors=== */
    --first-color: #da2535;
    --first-color-alt: #c42130;
    --first-color-send: #de3b49;
    --second-color: #88b64d;
    --title-color: #161212;
    --text-color: #5b5757;
    --body-color: #fefbfb;
    --container-color: #fff;

    /* ===Font & typography=== */
    --body-font-poppins: 'Poppins', serif;
    --body-font-quicksand: 'Quicksand', serif;
    --body-font-inter: 'Inter', serif;
    --biggest-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;

    /* ===Font weight=== */
    --font-semi-bold: 600;
    --font-bold: 700;

    /*===Margens=== */
    --mb-1: 0.5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;

    /* ===z index=== */
    --z-tooltip: 10;
    --z-fixed: 100;
}

@media screen and(min-width: 968px) {
    :root {
        --biggest-font-size: 3rem;
        --h2-font-size: 1.75rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: 0.875rem;
    }
}

/* ===Base=== */
*,
::before,
::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font-poppins);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    line-height: 1.6;
}

h1,
h2,
h3,
ul,
p {
    margin: 0;
}

h1,
h2,
h3 {
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
}

ul {
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}
/* === Class CSS=== */
.section {
    padding: 4rem 0 2rem;
}

.section-title .section-title-center {
    font-size: var(--h2-font-size);
    color: var(--title-color);
    text-align: center;
    margin-bottom: var(--mb-2);
}


/* ===Layout=== */

.l-main {
    overflow: hidden;
}

.bd-container {
    max-width: 968px;
    width: calc(100% - 3rem);
    margin-left: var(--mb-3);
    margin-right: var(--mb-3);
}

.bg-grid {
    display: grid;
    gap: 1.5rem;
}

.l-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
}

/* ===Nav=== */
.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .nav__menu {
        position: fixed;
        top: -100%;
        left: 0;
        right: 0;
        width: 90%;
        margin: 0 auto;
        padding: 2.5rem 0 0;
        text-align: center;
        background-color: var(--body-color);
        transition: 0.4s;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
        border-radius: 2rem;
        z-index: var(--z-fixed);
    }
}

.nav__item {
    margin-bottom: var(--mb-3);
}

.nav__link,
.nav__logo,
.nav__toggle {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

.nav__logo:hover,
.nav__link:hover {
    color: var(--first-color);
}

.nav__link {
    transition: 0.3s;
}

.nav__toggle {
    font-size: 1.3rem;
    cursor: pointer;
}
/* Show menu */
.show-menu {
    top: calc(var(--header-height) + 1rem);
}

/* Active menu link */
.active-link {
    position: relative;
}

.active-link::before {
    content: '';
    position: absolute;
    bottom: -0.75rem;
    left: 45%;
    width: 5px;
    height: 5px;
    background-color: var(--first-color);
    border-radius: 50%;
}

/* Change background header */
.scroll-header {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

/* Scroll top */
.scrolltop {
    position: fixed;
    right: 1rem;
    bottom: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem;
    background-color: var(--first-color);
    color: var(--body-color);
    border-radius: 0.4rem;
    z-index: var(--z-tooltip);
    transition: 0.4s;
    /* visibility: hidden; */
}

.scrolltop__icon {
    font-size: 1.25rem;
    color: var(--body-color);
}

.show-scroll {
    visibility: visible;
    bottom: 1.5rem;
}


/* ===Home==== */
.home__container {
    display: grid; 
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 2rem; 
    padding: 2rem 1rem; 
}

.home-img {
    width: 100%;
    max-width: 400px; 
    justify-self: center; 
}

.home__img img {
    width: 100%; 
    height: auto; 
}

.home__title {
    font-size: var(--biggest-font-size);
    font-weight: var(--font-bold);
    margin-bottom: var(--mb-2);

}

  .home__description{
    margin-bottom: var(--mb-3);
  }
  
h2{
    padding: 10px 0;
    text-align: center;
}
/*==== BUTTONS ====*/
.button{
    display: inline-block;
    background-color: var(--first-color);
    color: #fff;
    padding: .75rem 1.25rem;
    border-radius: .5rem;
    font-weight: var(--font-semi-bold);
    transition: .3s;
  }
  
  .button:hover{
    background-color: var(--first-color-alt);
  }
  
  .button-link{
    background: none;
    padding: 0;
    color: var(--first-color);
  }
  
  .button-link:hover{
    background-color: transparent;
    color: var(--first-color-alt);
  }
  

  /*========== jesus ==========*/
.jesus__data{
    /* text-align: center; */
  }
  
  .jesus__description{
    margin-bottom: var(--mb-2);
  }
  
  .jesus-img{
    width: 350px;
    justify-self: center;
  }
  
/*========== natal ==========*/
.natal__title{
    text-align: center;
}

.natal__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1.5rem; /* Adiciona espaçamento entre os cards */
    justify-content: center;
    align-items: center;
}

.natal__data {
    text-align: center;
    padding: 1rem 1rem 2rem;
    background-color: var(--container-color);
    box-shadow: 0 2px 6px rgba(65, 11, 16, .15);
    border-radius: 1rem;
}

.natal__data:hover {
    box-shadow: 0 3px 12px rgba(65, 11, 16, .15);
}

.natal__img {
    width: 170px;
    padding-bottom: 10px;
}
.arvore{
    padding-bottom: -20px;
    width: 95px;
}
.porta{
    width:  135px;
    
}
.button-link{
    padding-top: 15px;
}

.natal__title {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-1);
}
 
/*========== DESEJOS ==========*/
.desejos__container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1.5rem; /* Adiciona espaçamento entre os cards */
    justify-content: center;
    /* align-items: center; */
    padding-bottom: 2rem;
  }
  
  .desejos__content{
    position: relative;
    display: grid;
    padding: .25rem .75rem .75rem;
    background-color: var(--container-color);
    box-shadow: 0 2px 6px rgba(65,11,16,.15);
    border-radius: 1rem;
  }
  
  .desejos__content:hover{
    box-shadow: 0 3px 12px rgba(65,11,16,.15);
  }
  
  .desejos__img{
    width: 110px;
    justify-self: center;
    margin-bottom: .25rem;
  }
  
  .desejos__title, .desejos__category{
    text-align: center;
  }
  
  .desejos__title{
    font-size: var(--normal-font-size);
  }
  
  .desejos__category{
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-1);
    color: var(--text-color-light);
  }
  
  .desejos__preci{
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
  }
  
  .desejos__button{
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    font-size: 1.25rem;
    padding: .5rem .625rem;
    border-radius: 1rem 0 1rem 0;
  }
  
  /*========== SEND GIFT ==========*/
  .send{
      background-color: var(--first-color-send);
    }
    .send__container {
       display: flex;
    }
  
  .send__title, .send__description{
    color: #fff;
  }
  
  .send__description{
    text-align: center;
    margin-bottom: var(--mb-4);
  }
  
  .send__direction{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: .35rem .5rem;
    padding-left: 20px;
    border-radius: .5rem;
  }
  
  .send__input{
    width: 100%;
    outline: none;
    border: none;
    font-size: var(--normal-font-size);
    font-family: var(--body-font);
  }
  
  .send__input::placeholder{
    font-family: var(--body-font);
  }
  
  .send__img{
    width: 280px;
    justify-self: center;
  }
  
  /*========== FOOTER ==========*/
  .footer__container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1.5rem; /* Adiciona espaçamento entre os cards */
    justify-content: center;
    /* align-items: center; */
  }
  
  .footer__logo{
    color: var(--title-color);
  }
  
  .footer__title{
    margin-bottom: var(--mb-2);
  }
  
  .footer__logo, .footer__title{
    font-size: var(--h3-font-size);
  }
  
  .footer__link{
    display: inline-block;
    margin-bottom: .75rem;
    color: var(--text-color);
  }
  
  .footer__link:hover{
    color: var(--first-color);
  }
  
  .footer__social{
    font-size: 1.5rem;
    color: var(--title-color);
    margin-right: var(--mb-3);
  }
  
  .footer__social:hover{
    transition: .4s;
    color: var(--first-color);
  }
  


  .footer__copy{
    text-align: center;
    font-size: var(--small-font-size);
    color: var(--text-color-light);
    margin-top: 2rem;
  }
  
/*========== MEDIA QUERIES ==========*/

/* For full-screen images on small screens */
@media screen and (max-width: 359px){
    .home__img,
    .jesus__img,
    .send__img{
      width: 100%;
    }
   
  }
  
  @media screen and (min-width: 576px){
    .home__container,
    .jesus__container,
    .send__container{
      grid-template-columns: repeat(2,1fr);
      align-items: center;
    }
  
    .home__container{
      padding: 5rem 0 0;
    }
  
    .home__img{
      order: 1;
    }
  
    .section-title-center,
    .jesus__data,
    .send__description{
      text-align: initial;
    }
  
    .home__img,
    .jesus__img,
    .send__img{
      width: 100%;
    }
    
    .jesus__img{
      order: -1;
    }
  }
  
  /* Estilizando para telas menores */
@media (max-width: 768px) {
    .home__container {
        grid-template-columns: 1fr;
    }
    .home__img{
        order: -1;
      }
    .natal__container, .footer__container {
        grid-template-columns: 1fr 1fr; 
    }
    .footer__container{
        grid-template-columns: 1fr;
      }
      .send__container {
        display: block;
     }
     .send__container img{
        width: 70%;
     }
     .footer__copy{   
        padding: 0 1.5rem;
      }
}
@media (max-width: 568px) {
    .natal__container,.footer__container ,.send__container{
        grid-template-columns:  1fr; 
    }
    .send__container img{
        width: 100%;
    }
    
}


  @media screen and (min-width: 768px){
    body{
      margin: 0;
    }
  
    .section{
      padding-top: 4rem;
    }
  
    .nav{
      height: calc(var(--header-height) + 1.5rem);
    }
  
    .nav__list{
      display: flex;
      align-items: center;
    }
  
    .nav__item{
      margin-left: var(--mb-5);
      margin-bottom: 0;
    }
  
    .nav__toggle{
      display: none;
    }
  
    .change-theme{
      position: initial;
      margin-left: var(--mb-4);
    }
  
    .home__container{
      padding: 7rem 2rem 0;
    }
  
    .jesus__container{
      padding: 0 2rem;
    }
  
    .desejos__container{
      grid-template-columns: repeat(3,224px);
      justify-content: center;
    }
  
    .desejos__content{
      padding: .5rem 1.5rem 1.5rem;
    }
  
    .desejos__img{
      width: 120px;
      margin-bottom: var(--mb-1);
    }
  
    .desejos__title, .desejos__category{
      text-align: initial;
    }
  
    .desejos__button{
      padding: .75rem;
    }
  
    .send{
      background: none;
    }
  
    .send__container{
      background-color: var(--first-color-send);
      padding: 2rem;
      border-radius: 1.5rem;
    }
  }
  
  @media screen and (min-width: 968px){
    .bd-container{
      margin-left: auto;
      margin-right: auto;
    }
  
    .home__img,
    .jesus__img,
    .send__img{
      width: 469px;
    }
  
    .home__container,
    .jesus__container,
    .send__container{
      column-gap: 5rem;
    }
    .section-title-center, .jesus__description{
        text-align: center;
    }
    .natal__title-h3 {
        font-size: 25px;
        text-align: center;
        margin-bottom: var(--mb-3);
    }
  }